* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(242, 242, 242);
}

.hero {
    width: 100vw;
    height: 100%;
}
.header {
    width: 100%;
    /* display: flex; */
    background: #dadada;
    color: #000000;
    /* align-items: center;
    justify-content: center; */
    padding: 10px 10px;
    font-family: 'Capriola', serif;
}

.nav-item {
    padding: 10px;
}

ul {
    display: flex;
    margin-right: 10%;
    list-style-type: none;
    /* margin: 0; */
    padding: 0;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
}

.navigation li.active {
    background-color: rgb(255, 200, 0);
}

.about-container {
    width: 80vw;
    /* margin: auto; */
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    border: 1px solid #000000;
    background: #FFC14B;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

aside {
    background-color: #FFC14B;
    height: auto;
    text-align: center;
    width: 400px;
    font-size: 2em;
    padding: 1em;
    
}

.aside-img   {
    width: 150px;
    height: 150px;
    border-radius: 5em;
    margin-left: auto;
    margin-right: auto;
}
.nav a {
    color: #000000;
    padding: 0.5em;
    font-size: 1.5em;
}
.nav a:hover {
    background: #FFC14B;
}

a:active {
    background-color: #FFC14B;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    padding: 2em;
    align-items: center;
}

.about-text {
    /* text-align: center; */
    padding: 4em;
}
.content-img {
    width: 100%;
    height: auto;
    max-height: 500px;
    width: 100%;
    max-width: 350px;    
}

/* STYLE CURRICULUM */
.cv-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* STYLE PORTFOLIO */
.port-text {
    display: flex;
}
.port-text>h1 {
    font-size: 7rem;
    font-style: 'Capriola', serif;
}

.projects-container {
    font-family: 'Verdana';
    background: #FFC14B;
}

@media only screen and (max-width: 600px){
    body {
        background-color: lightskyblue;
    }
    .header {
        flex-direction: column;
    }
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .about-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* flex-wrap: wrap; */
    }

    ul {
        margin-left: 0px;
    }
    aside {
        font-size: 1em;
    }

    .content-img {
        width: 150px;
        height: 150px;
    }
}